extends layout

block content
    script.
        var buttonAction = function () {
            $('#content').text('new data');
            return false;
        }
    div.row
        div.col-md-4
            p Welcome to #{title}
        div.col-md-8
            p(id = 'content') Welcome to #{content}
    div.row
        div.col-md-12
            button(onclick='buttonAction()' class="btn btn-primary") Click
