extends layout

block content
    script.
        var buttonAction = function () {
            $('#content').text('new data');
            return false;
        }
    div(class='container')
        h1 #{title}
        include ./menu
        div(class='row')
            div(class='col-md-4')
                p Welcome to #{title}
            div(class='col-md-8')
                p(id = 'content') Welcome to #{content}
        div(class='row')
            div(class='col-md-12')
                button(onclick='buttonAction()' class="btn btn-primary") Click
