mixin line(label)
    li.nav-item
        a.nav-link(href="javascript:void(0)") #{label}

nav.navbar.navbar-dark.bg-primary#testId
    ul.nav.mr-auto
        +line('Add new person')
        +line('Search persons')
        +line('Check Family')